{% extends "homepage/basic.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- if user doesnot select his country -->
    {% if username %}
        <!-- if user doesnot created atleast one type of account -->
        {% if bankAccounts or loanAccounts or investmentAccounts or creditCards %}
            <h2 class="fs-5" id="temp"> Dashboard</h2>
            <p>Welcome {{ username }}.</p>
            <p>You are from {{ country }} and Your currency is {{ currency }}</p>
            {% for transaction in expensetransactions %}
              <p>category : {{ transaction.category }} with subcategory: {{ transaction.subcategory }} created on {{ transaction.date }} for {{ transaction.amount }} - Bank Account: {{ transaction.account }}</p>
            {% endfor %}
            <button hx-post="/HtmxView/"
              hx-trigger="click"
              hx-target="#temp"
              hx-swap="innerHTML">
              Click Me!
          </button>
          <button hx-post="/ExpenseTableView/"
              hx-trigger="click"
              hx-target="#temp"
              hx-swap="innerHTML">
              Click Now!
          </button>
        {% else %}
            <h2 class="fs-5"> Welcome {{ username }} </h2>
            <p>Just one more step to get started. Just create any account for adding transactions.</p>
            
            <!-- add buttons to create SavingsAccount, CheckingAccount, LoanAccount, InvestmentAccount, CreditCardAccount -->
            <div class="row g-3">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Bank Account</h5>
                      <p class="card-text text-muted">With Bank Account you can track your savings or checking in your bank accounts. </p>
                      <!-- Bank Account trigger modal -->
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bankAccountModal">
                        <i class="bi bi-plus-circle"></i> Add Bank Account
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Credit Cards</h5>
                        <p class="card-text text-muted">With Credit Cards you can track your spending on credit cards.</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#creditCardModal">
                            <i class="bi bi-plus-circle"></i> Add Credit Card
                          </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Loan Account</h5>
                        <p class="card-text text-muted">With Loan Account you can track your loans and liabilities.</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loanAccountModal">
                            <i class="bi bi-plus-circle"></i> Add Loan Account
                          </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Investment Account</h5>
                        <p class="card-text text-muted">With Investment Account you can track your Investments.</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#investmentAccountModal">
                            <i class="bi bi-plus-circle"></i> Add Investment Account
                          </button>
                        
                      </div>
                    </div>
                  </div>
              </div>
        {% endif %}  
    {% else %}
        <h2 class="fs-5"> Welcome to Chitta Book </h2>
        <p>It looks like this is your first time logging in. Let's get started by updating your name and currency.</p>
        <p>Thank you using Chitta Book. It will only take a few seconds to Get Started!</p>
        <!-- Button trigger modal -->
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="{% url 'profileUpdate' %}">
            Click here for Getting Started
        </a>
    {% endif %}

{% endblock %}