/* navbar styles */
.navbar-brand {
    font-size: 30px;
}

.navbar-nav {
    margin-left: 10px;
}

.navbar-nav .nav-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.navbar-nav .nav-item .nav-link {
    color: black;  /* black text in navbar */
}

.navbar-nav .nav-item .nav-link:hover {
    color: black;
    border-bottom: 2px solid black;
}

/* index body styles */
#indexBody {
    padding: 20px;
}

/* features text animation styles */
.codinfox-changing-keywords{
    vertical-align:top;
    overflow:hidden;
    height:20px;
    position:relative;
    display: inline-block;
      width: 250px;
  }
  .hidden{
    position:absolute;
    top: 20px;
    display:inline-block;
    width:250px;
      opacity:0;
    animation: slideme 8s infinite;
  }
  .hidden:nth-child(3){
    animation-delay: 2s;
  }
  .hidden:nth-child(5){
    animation-delay: 4s;
  }
  .hidden:nth-child(7){
    animation-delay: 6s;
  }
  
  @keyframes slideme {
    0% {
      top: 20px;
      opacity:0;
    }
    5% {
      top: 0px;
      opacity:1;
    }
    10%{
      top : 0;
      opacity:1;
    }
    20%{
      opacity:1;
    }
    25% {    
    opacity:0.1;
      top : 0;
    }
    30% {
      opacity:0;
      top: 20px;
    }
  }



/* great features styles */
.smaller-image {
  width: 200px; /* Adjust the width value as per your requirement */
}


/* footer styles */
.attribution {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.attribution p {
  margin-bottom: 10px;
}

.attribution a {
  color: #555555;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}


/* Register styles */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


/* google icon color in signup and login page */
.bi-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* seperator */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #0000004f;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}


/* toggle password styles on signup page */
#togglePasswordSignup {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* toggle password styles on login page */
#postion-relative-login {
  position: relative;
}

#togglePasswordLogIn {
  position: absolute;
  top: 54%;
  right: 10px;
  transform: translateY(-54%);
  cursor: pointer;
}

#togglePasswordLogin i {
  margin-right: 5px;
}

#togglePasswordLogin span {
  font-size: 12px;
}

/* togglePasswordReauthenticate css */
#togglePasswordReauthenticate {
  cursor: pointer;
  position: absolute;
  right: 17px;
  top: 41%;
  transform: translateY(-50%);
  z-index: 1;
}

/* google icon color in signup and login page */
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* google login button when hover change background to grey */
.google-login-button {
  background-color: white;
}
.google-login-button:hover {
  background-color: lightgrey;
}

/* register button on navbar when hover change background to blue and highlight only outline */
#registerButton:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  background-color: inherit;
  color: blue;
}

/* regster and loginbutto on index page */
@media (max-width: 767px) {
  #getStartedButton {
      width: 100%;
  }
  #getregisterButton {
      display: block;
      width: 100%;
      margin-bottom: 10px;
  }
}