{% extends "Chittabook/layout.html" %}
{% load static %}

<!-- block body -->
{% block body %}
    <!-- Header Start -->
    <div class="container-fluid hero-header bg-light py-5 mb-5" style="font-family: Roboto;">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3">Say Goodbye to Financial Stress by Tracking <span style="color: blue;" id="features">Income</span></h1>
                    <p>Track your income and expenses effortlessly with our user-friendly website. Gain control over your finances and make informed decisions for a brighter financial future. Start today!</p>
                    <a href="/accounts/login" class="btn btn-primary py-2 px-4">Login</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/accounts/signup" class="btn btn-success py-2 px-4">Register (It's Free!)</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="static\chittabook\img\indexphoto.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto" style="max-width: 500px;">
                <h1 class="display-6">Great Features!</h1>
                <p class="text-primary fs-5 mb-5">The Best Software for Home Financial Management</p>
            </div>
            
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid smaller-image" src="static/chittabook/img/easy.png" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">Easy Expense Tracking</h5>
                            <span>Effortlessly track and manage your expenses in one place.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid smaller-image" src="static/chittabook/img/budget.jpg" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">Budget Management</h5>
                            <span>Set and monitor your budget to stay on top of your financial goals.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid smaller-image" src="static/chittabook/img/dashboard.jpg" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">Interactive Dashboards</h5>
                            <span>Visualize your spending patterns & financial health with intuitive dashboards.</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- div class="mb-5"></div> Add clearfix after each row -->
            
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid smaller-image" src="static/chittabook/img/reports.jpg" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">Customizable Reports</h5>
                            <span>Generate detailed reports to analyze your spending habits and identify areas for improvement.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid smaller-image" src="static/chittabook/img/goal.jpg" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">Goal Tracking</h5>
                            <span>Set financial goals and track your progress towards achieving them.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid smaller-image" src="static/chittabook/img/privacy.jpg" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">Respect your Privacy</h5>
                            <span>No tracking, No data collection, No advertisements</span>
                        </div>
                    </div>
                </div>
                <!-- Add similar code for other feature cards -->
            </div>
            
        </div>
    </div>
    <!-- Features End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6">
                    <h1 class="text-primary mb-4"><img class="img-fluid me-2" src="img/icon-1.png" alt=""
                            style="width: 45px;">Chitta Book</h1>
                    <span>Discover the ultimate Income Expense Tracker! Designed with a deep understanding of family needs. Effortlessly track income, expenses, savings and much more!. Make informed financial decisions for a secure future. Experience peace of mind in managing your home finances. We are here to serve you on your financial journey.</span>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Follow Us</h5>
                    <div class="d-flex">
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="bi bi-facebook"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="bi bi-youtube"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <footer class="attribution">
        <p>
          This website was created by 
          <a href="">M RAJEEV REDDY</a> 
          using the <a href="">Django Framework</a>.
        </p>
        <p>
           <!--<a href="https://www.freepik.com/">Images by macrovector_official, vector4stock, storyset, vectorjuice & macrovector</a> on Freepik -->
           <a href="https://www.freepik.com/">Images from Freepik</a>  
        </p>
    </footer>
      

{% endblock %}

{% block script %}
    <script type="text/javascript">
        const symbols = ['Expenses', 'Loans', 'Savings', 'Goals', 'Investments', 'Income'];
        let count = 0;
        count = 0
        let inthandle = setInterval(() => {
        document.getElementById("features").innerHTML = symbols[count];
        count = (count + 1) % symbols.length
        }, 2000)
    </script>
{% endblock %}