{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title -->
        <title>{% block title %}Chitta Book | Personal Financial Management Software for Home{% endblock %}</title>

        <!-- Bootstrap link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
        
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <!-- CSRF Token -->
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'chittabook/styles.css' %}">

        <!-- React link -->
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

        <!-- JavaScript file -->
        <script src="{% static 'chittabook/scripts.js' %}"></script>

        <!-- google fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open Sans|Trirong">

        {% block script %}
        {% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded" style="font-family: Roboto;">
            <div class="container-fluid">
              <h1 class="fs-4"><span class="bg-dark text-white rounded shadow px-2 me-2">CB</span>
                <span class="text-dark"><a class="navbar-brand" href="{% url 'index' %}">Chitta Book</a></span>
              </h1>
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'how' %}">How it works</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'features' %}">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a href="/home"<button type="button" class="btn btn-primary rounded-pill py-1" id="loginButton">Home Page</button></a>
                    </li>
                  
                    <!-- logout -->
                    <li class="nav-item">

                     <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-outline-primary rounded-pill py-1" type="submit">{% trans 'Sign Out' %}</button>
                      </form>
                                          
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a href="/accounts/login"<button type="button" class="btn btn-primary rounded-pill py-1" id="loginButton">Login</button></a>
                    </li>
                    <li class="nav-item">
                      <a href="/accounts/signup"<button type="button" class="btn btn-outline-primary rounded-pill py-1" id="registerButton">Register</button></a>
                    </li>
                {% endif %}
                </ul>
              </div>
            </div>
          </nav>
          
          <div class="layoutBody">
            {% block body %}
            <!-- messages display -->
            {% if messages %}
              {% for message in messages %}
                <div id="messages" class="alert alert-{{ message.tags }} alert-dismissible fade show" data-timeout="10000" role="alert" style="margin-bottom: 0; margin-right: 10px; margin-left: 10px;">
                    <ul>
                        <li>
                            {{ message }}
                        </li>
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
            <!-- body Content -->
            {% block content %}
            {% endblock %}

            {% endblock %}

          </div>
    </body>
</html>