{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Chitta Book | Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">{% trans "Change Password" %}</h1>
            <p class="lead">{% trans 'Your password is now changed.' %}</p>
            <a class="btn btn-primary" href="{% url 'account_login' %}">{% trans 'Log in now' %}</a>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

