{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Chitta Book | Confirm Access" %}{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-left">{% trans "Confirm Access" %}</h1>

    <p class="text-left">{% blocktranslate %}To safeguard the security of your account, please enter your password:{% endblocktranslate %}</p>

    <div class="row justify-content-left">
        <div class="col-sm-6">
            <form class="reauthenticate" method="POST" action="{% url 'account_reauthenticate' %}">
                {% csrf_token %}
                {{ form|crispy }}
                 <!-- Password toggle -->
                <i class="far fa-eye toggle-password" id="togglePasswordReauthenticate" style="margin-left: 10px; cursor: pointer;"> <span id="togglePasswordLabel"> Show</span></i>
                <div class="text-left mt-3">
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

