{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Chitta Book | Verify Your Email Address" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">{% trans "Verify Your Email Address" %}</h1>

            <div class="card border-0">
                <div class="card-body text-justify">
                    <p>{% blocktrans %}Thank you for signing up! We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please <a href="">contact us </a> if you do not receive the verification email within a few minutes. We look forward to having you as a member of our community!"{% endblocktrans %}</p>
                    <strong>This verification step helps us confirm that you own the email address and helps protect you from others trying to use your email for unauthorized purposes.</strong>
                    <br><br>
                    <p>Once again, thank you for joining us, and we look forward to having you as an active member of our community!"</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


