{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Chitta Book | Verify Your Email Address" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">{% trans "Verify Your Email Address" %}</h1>

            <div class="card border-0">
                <div class="card-body text-justify">
                    <p>{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
{% endblock %}


